---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        I'm in my final year of undergrad at the University of Toronto, studying
        Computer Science and Cognitive Science.
        <br />
        Interdisciplinarity inspires me. I've independently and collaboratively worked
        on research projects that pertain disparate fields, from social-cognitive
        psychology to Indigenous studies.
      </p>
      <p class="text-sm font-light">
        I enjoy healthy living and staying active. When not pondering about
        life's big questions, you may find me cooking a hearty vegetarian dish
        or jogging to some 5SOS songs. I also fenced for 10 years and once
        placed national 8th in China (#thegoodolddays).
      </p>
      <!-- <a href={LINKS.github} aria-label="curriculum vitae" target="_blank">
        <Button aria-label="curriculum vitae">
          <Icon name="ri:github-fill" class="h-6" />
          <span class="sr-only">Curriculum Vitae</span>
        </Button>
      </a> -->
    </div>
  </div>
</Card>
